@model AdvisingServices.Models.Session
@{
    ViewBag.Title = "sessionForm";
}

<h2>Session has Begun</h2>

<h1 class="page-header">@Model.stu.Fname @Model.stu.Lname</h1>
<h1>@Model.startTime</h1>
<button>Complete Session</button>