
@{
    ViewBag.Title = "StudentForm";
}

<h2>Pick One</h2>

<h4 >@Html.ActionLink("Already a Student", "CurrentStudent", "WaitList")</h4>
<h4 >@Html.ActionLink("New Student", "StudentForm", "WaitList")</h4>
